/**
*  Fonts Barlow
**/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

@mixin barlow-regular {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin barlow-semibold {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-style: normal;
}

/**
*  Fonts Fraunces
**/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@mixin fraunce-700 {
    font-family: 'Fraunces', serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@mixin fraunce-900 {
    font-family: 'Fraunces', serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
